<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009871733855-pam95p8jjs91sub28gd3r0sk3lq6u62t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009871733855-pam95p8jjs91sub28gd3r0sk3lq6u62t</string>
	<key>API_KEY</key>
	<string>AIzaSyAPx-A8m49_97nLxzyt4JrFqXpo_kRcsTk</string>
	<key>GCM_SENDER_ID</key>
	<string>1009871733855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alternate.alternateStoreCms</string>
	<key>PROJECT_ID</key>
	<string>alternate-store</string>
	<key>STORAGE_BUCKET</key>
	<string>alternate-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009871733855:ios:5bec8be210c78b6e1f07ea</string>
	<key>DATABASE_URL</key>
	<string>https://alternate-store-default-rtdb.firebaseio.com</string>
</dict>
</plist>